<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.shiro.mapper.SysUserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springboot.shiro.entity.SysUserRole">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_id, user_id
    </sql>

    <delete id="deleteUserRoleByUser">
        delete from sys_user_role where user_id =  #{userId}
    </delete>

    <insert id="batchInsertUserRoles" useGeneratedKeys="true" parameterType="java.util.List">
        insert into sys_user_role(user_id,role_id)
        values
        <foreach collection="list" item="data" separator="," index = "index">
            (#{data.userId},#{data.roleId})
        </foreach>
    </insert>

</mapper>
